
Create New Pet:

<form method="post" action="/pets/new">
  Name:<input type="text" name="name"><br>
  Breed:<input type="text" name="breed"><br>
  Bio:<input type="textarea" name="bio"><br>
  Price:<input type="text" name="price"><br>
  Adoptable:<input type="radio" name="adoptable" value="1">Yes<input type="radio" name="adoptable" value="0">No<br>
  <input type="submit" value="Create">
</form>