<html>
  <head>
  </head>

  <body>
    <h2>Welcome to</h2>
    <h1>Man's Best Friend</h1>
    <h3>A place to find your 'fur'ever friend</h3>

    <div id="login">
      <form method="post" action= '/login'>
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>

        <input type="submit" value="login">
      </form>
    </div>
      <form action ='/signup'>
          <input type="submit" value ="signup">
      </form>
  </body>
</html>





