<html>
  <head>
  </head>

  <body>
    <h2>Welcome to</h2>
    <h1>Man's Best Friend</h1>
    <h3>A place to find your 'fur'ever friend</h3>
    
    <div id="login">
      <form method="post" action= '/login'>
        <input type="text" name="username">
        <input type="text" name="password">

        <input type="submit" value="login">
      </form>
    </div>
  </body>
</html>